<div class="edit-form">
    <div class="fields">
        <div class="field-group">
            <label for="agendaItemId"><span>Agenda Item Id</span></label>
            <input id="agendaItemId" type="number" name="agendaItemId" value="{{agendaItem?.id}}" disabled>
        </div>
        <div class="field-group">
            <label for="resourceName"><span>Resource Name</span></label>
            <input id="resourceName" type="text" name="resourceName" value="{{agendaItem?.resourceName}}">
        </div>
        <div class="field-group">
            <label for="channelName">Channel Name</label>
            <input id="channelName" type="text" name="channelName" value="{{agendaItem?.channelName}}">
        </div>
        <div class="field-group">
            <label for="label">Label</label>
            <input id="label" type="text" name="label" value="{{agendaItem?.label}}">
        </div>
        <div class="field-group">
            <label for="startDate">Start Date</label>
            <input id="startDate" type="datetime-local" name="startDate" value="{{agendaItem?.startDateAsHtmlDateTimeLocalString}}">
        </div>
        <div class="field-group">
            <label for="endDate">End Date</label>
            <input id="endDate" type="datetime-local" name="endDate" value="{{agendaItem?.endDateAsHtmlDateTimeLocalString}}">
        </div>
    </div>
    <div class="actions">
        <button (click)="onSave()" class="primary">Save</button>
        <button (click)="onCancel()">Cancel</button>
    </div>
</div>
